body { 
  height:1000px;
  background: #000;
  
}

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

#message-container {
  padding-top:300px;
  font-size:16px;
  font-family: "Arial";
}

.character-container {
  float:left;
  height:30px;
  overflow:hidden;
}

.character {
  padding:5px 0px 5px 0px;
  margin:1px;
  background: -webkit-gradient(
      linear,
      left top,
      left bottom,
      color-stop(0.00, #222),
      color-stop(0.5, #000),
      color-stop(1.00, #222)
      );
  background: -moz-linear-gradient(
      top,
      #222 0%,
      #000 50%,
      #222 100%
      );
  color: #FFF; 
  text-shadow: 0px 1px 5px #000;
  
  -moz-border-radius: 1px;
  -webkit-border-radius:1px;
    
}